.main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-navbar{
    display: flex;
    align-items: center;
    background-color: rgb(7, 7, 88);
    padding: 15px 30px 15px 30px;
}

.main-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: auto;
    cursor: pointer;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
}

.column-options {
  background:#f5f5f5;
  height: 100vh;
}

.main-view {
  padding: 1.5rem;
}

.LateralLogo{
    width: 200px;
}

.lateralBar-link {
    display: block;
    padding: 10px 14px;
    color: #555;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.lateralBar-link:hover {
    background: #f1f3f4;
}

.lateralBar-link.active {
    background: #a9caf5;
    font-weight: bold;
    border-left: 5px solid #6c98d1;
}