.login-background{
    background-image: url(/Background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    padding: 40px;

}

.login-image{
    width: 150px;
    height: auto;
}

.login-title{
    margin: 40px 30px 20px 30px;
    text-align: center;
}

.email-label{
    display: block;
    text-align: left;
}

.info-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 40px;
    background-size: 20px 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-color: white;
}

.info-input.email{
    background-image: url('/Vector.svg');
}

.info-input.password{
    background-image: url('/lock.svg');
}


.login-input-group{
    width: 80%;
}

.forgot-password-button{
    color: black;
    font-weight: bold;
}

.login-button{
    background-color:'rgb(7, 7, 88)';
    width: 60%;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 60px;
}